<div class="row">
    <div class="col-12 text-right">
           <button 
           routerLink="/users/addUser"
           class="btn btn-primary">Add USer</button>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <li
            [routerLink]="users.userId"
            [queryParams]="{userRole : users.userRole}"
            *ngFor="let users of usesArr"
            class="list-group-item">
                  {{users.username}}
            </li>
        </div>
    </div>
</div>




