
<app-back-btn></app-back-btn>
<div class="card" *ngIf="userInfo; else nouserdetail">
    <div class="card-body">
        <h4>{{userInfo.username}}</h4>
        <p>The user role is {{userInfo.userRole}}</p>
        <div>
            <button 
            [queryParamsHandling]="'preserve'"
             routerLink="edit"
             class="btn btn-info mr-3">EDIT</button>
             <button 
            (click)="onRemove()"
             class="btn btn-danger">REMOVE</button>
        </div>
    </div>
</div>
<ng-template
#nouserdetail>
<p class="alert alert-info">
    No User Info!!!!
</p>
</ng-template>