<div class="row">
    <div class="col-12 text-right">
           <button 
           routerLink="/products/addproducts"
           class="btn btn-primary">Add Products</button>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <li
            (click)="onProductnavigate(prod)"
            *ngFor="let prod of ProductArr"
            class="list-group-item">
                  {{prod.pname}}
            </li>
        </div>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>
