 <app-back-btn></app-back-btn>
<div class="card" *ngIf="Pid && Pinfo; else nouserdetail">
    <div class="card-body">

        <h4>{{Pinfo.pname}}</h4>
        <p>Theuser role is {{Pinfo.pstatus}}</p>
        <div>
            <button 
            
            (click)="onEditnavigate()"
             class="btn btn-info mr-3">EDIT</button>
             <button 
            (click)="onRemove()"
             class="btn btn-danger">REMOVE</button>
        </div>
    </div>
</div>


<ng-template
#nouserdetail>
<p class="alert alert-info">
    No Product Info!!!!
</p>
</ng-template> 



